# Ignore vcpkg installed packages and build artifacts
vcpkg
build/
og_art
cache
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
vcpkg
vcpkg_installed/
key.txt
release/
Tasks/
.claude
.clinerules/
Demo and Tutorial.mp4
*.exe
# Visual Studio build output
Debug/
x64/
*.vcxproj*
*.sln
*.user
*.obj
*.log
*.tlog
*.pdb
*.idb
.vscode/
Thumbs.db
desktop.ini
__pycache__/
*.dll
*.lib
*.out
assets_coppy/
docs/screen_shots/